@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');


body {
    font-family: Roboto;
    max-height: 800px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 0;
}

img {
    width: inherit;
    height: auto;
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: inherit;
    padding: 0;
    align-items: center;
}

li {
    display: flex;
    padding-bottom: 5px;
    width: inherit;
    height: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

li:hover {
    background-color: #393636;
    border-radius: 15px;
}

a {
    width: fit-content;
    display: block;
    position: relative;
    padding: 0.1em 0;
    color: black;
    text-decoration: none;
  }

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #61777F;
    opacity: 0;
    transition: opacity 300ms, transform 500ms;
  }
  
  a:hover::after,
  a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.3em, 0);
  }

.navitem{
    width: inherit;
    height: inherit;
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
}

nav {
    height: 800px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #61777F;
    border-radius: 0px 15px 15px 0px;
    padding-top: 20px;
}

.list,
.kirje {
    display: flex;
}

.list {
    border-width: 1px;
    border-bottom: #393636 solid;
}

.form-name {
    display: flex;
    gap: 4px;
    height: 24px;
    ;
    align-items: center;
}

.input-form {
    margin-top: 20px;
    display: flex;
    gap: 65px;
}

.form-name>label {
    display: flex;
    justify-content: flex-end;
}

.tellimused-button {
    display: flex;
    justify-content: flex-end;

}

#error-block {
    background-color: rgb(184, 1, 1);
}

#error-block:hover {
    background-color: rgb(255, 0, 0);
}

.submit-button {
    display: flex;
    gap: 10px;
}


.submit-button>input,
.tellimused-button>input {
    height: 30px;
    background-color: #61777F;
    border-radius: 12px;
    padding: 8px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.submit-button>input:hover,
.tellimused-button>input:hover {
    background-color:#393636;
}

.first-column {
    width: 100%;
    max-width: 400px;
    margin-right: 45px;
}

.second-column {
    min-width: 225px;
}

.third-column {
    min-width: 100px;
}

.fourth-column {
    min-width: 100px;
}

.fifth-column {
    min-width: 100px;
}